[submodule "bundle/lightline.vim"]
	path = bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/fzf"]
	path = bundle/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "colors/vim-hybrid"]
	path = colors/vim-hybrid
	url = https://github.com/w0ng/vim-hybrid.git
[submodule "themes/gruvbox"]
	path = themes/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "themes/papercolor-theme"]
	path = themes/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/easymotion"]
	path = bundle/easymotion
	url = https://github.com/easymotion/vim-easymotion.git
[submodule "bundle/cscope-maps"]
	path = bundle/cscope-maps
	url = https://github.com/joe-skb7/cscope-maps.git
[submodule "bundle/vim-linux-coding-style"]
	path = bundle/vim-linux-coding-style
	url = https://github.com/vivien/vim-linux-coding-style.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "bundle/vim-buffergator"]
	path = bundle/vim-buffergator
	url = https://github.com/jeetsukumaran/vim-buffergator
[submodule "bundle/ZoomWin"]
	path = bundle/ZoomWin
	url = https://github.com/vim-scripts/ZoomWin.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
